<%- include('./_layouts/header') %>
<div class="row products ">
    <% products.forEach((product) => {%>
        <div class="col-xs-12 col-md-4 p">
            <a href="/user/products/<%=product.category%>/<%=product.slug%>" class="pa">Product picture here</a>
            <h3><%=product.title%></h3>
            <h4>$<%=parseFloat(product.price).toFixed(2)%></h4>
            <a href="/user/products/<%=product.category%>/<%=product.slug%>" class="vd">View Details</a>
        </div>
        <% }) %>
</div>


<%- include('./_layouts/footer') %>